<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default log level, can be overridden with LOG_LEVEL environment variable -->
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set specific log levels for application packages -->
    <logger name="com.github.tkasu.ruuvitag.api" level="${LOG_LEVEL}" />
    <logger name="zio.http" level="INFO" />
</configuration>
