openapi: 3.1.0
info:
  title: Ruuvi Tag API
  version: 0.1.0
servers:
  - url: http://api.fixme.com/v1
    description: FIXME
paths:
  /telemetry/{telemetryType}:
    get:
      summary: Return array of latest telemetry for given telemetryType and sensor
      parameters:
        - name: telemetryType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TelemetryType'
          description: Type of telemetry measurement to retrieve
        - name: macAddress
          in: query
          required: true
          schema:
            type: string
            pattern: '^([0-9A-Fa-f]{2}:){5}[0-9A-Fa-f]{2}$'
          description: MAC address of the sensor (format: XX:XX:XX:XX:XX:XX, e.g., FE:26:88:7A:66:66)
          example: "FE:26:88:7A:66:66"
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Start timestamp (ISO 8601 or unix milliseconds)
          example: "2025-01-01T00:00:00Z"
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: End timestamp (ISO 8601 or unix milliseconds)
          example: "2025-01-31T23:59:59Z"
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Array of telemetry structs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
  /telemetry:
    post:
      summary: Send new telemetries to server
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  telemetry_type:
                    $ref: '#/components/schemas/TelemetryType'
                    description: Type of telemetry measurement
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Measurement'
      responses:
        '201':
          description: Created

components:
  parameters:
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      description: |
        Request correlation ID for tracking and debugging. If not provided, 
        the server will generate a UUID and include it in the request processing.
        This ID is used in all log entries for the request, enabling correlation
        of log lines in concurrent scenarios.
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
  
  schemas:
    TelemetryType:
      type: string
      enum:
        - temperature
        - humidity
        - pressure
        - battery
        - tx_power
        - movement_counter
        - measurement_sequence_number
      description: Type of telemetry measurement

    Measurement:
      properties:
        mac_address:
          type: string
          pattern: '^([0-9A-Fa-f]{2}:){5}[0-9A-Fa-f]{2}$'
          description: MAC address of the sensor (format: XX:XX:XX:XX:XX:XX)
          example: "FE:26:88:7A:66:66"
        timestamp:
          type: integer
          description: Timestamp in unix format (ms)
        value:
          type: number
